{% extends 'core/base.html' %}

{% block title %} Home {% endblock title %}

{% block main_content %}
<div class="container">
    <div class="row justify-content-around my-5">
        <div class="col-md-5">
            <h2 class="text-center">Login Form</h2>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-md-5">
            <form action="" method="POST" class="bg-white my-3 p-3 rounded">
                    {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}}
                    {{fm}}
                    <small class="text-danger">{{fm.erros}}</small>
                    
                {% endfor %}
                <input type="submit" value="Login" class="btn btn-primary mt-2"><br>
                
            </form>
            
            <button class="btn btn-primary mt-1">Register<a href="{% url 'signup' %}">R</a></button>
        </div>
    </div>
    
</div>
{% endblock main_content %}